/*
Navbar
*/

.tagline {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  position: relative;
  margin-left: 10px;
  vertical-align: center;
  text-align: center;
}

.ui.inverted.menu .item {
  font-size: 1.2em;
  text-align: left;
  font: 'Quicksand', sans-serif;
}
/*
General page layout
*/

#brand {
  font-family: 'Pacifico', cursive;
  font-size: 37px;
  text-align: center;
  margin: 0px;
}

body {
  background-color: #f2f0f0;
}

.ui.large.green.header.branding {
  font: 'Quicksand', sans-serif;
}

.header {
  margin-bottom: 30px;
}

#container {
  text-align: center;
  width: 80%;
  margin: 5% 15%;
}

li {
  list-style: none;
  text-align: left;
  line-height: 30px;
}

.button a {
  color: white;
}

.button a:hover {
  color:white;
}

/*
Forms, inputs, and tables
*/

#login, #signup {
  max-width: 100%;
  margin-left: 15%;
}

.ui.piled.segment {
  padding: 20px 20px;
}

.ui.form {
  margin: 20px 30px;
  padding: 5px;
}

.ui.form .field > label {
  font-size: 1.2em;
}

#clientSearch {
  width: 40%;
  margin: auto;
}

.table {
  float: none !important;
  margin: 20px auto !important;
  width: 70%;
}

.table th {
  text-align: center;
  font-size: 14px;
  background-color: #eaeef2;
  color: #30312e;
}

td {
  color: #57616f;
}

table, form {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #737373;
}

form {
  padding: 50px;
  margin: auto 200px;
  text-align: left;
}

.timer {
  padding: 10px;
  margin: 0px;
}

.time_button {
  border-radius: 5px;
}

label {
  color: #30312e;
}

#no_client {
  font-size: 15px;
}

.start, .stop {
  border-radius: 5px;
}

.hidden {
  display: none;
}

/****** GRAPH ******/
.bar {
  color: teal;
  border: 2px solid black;
}

.chart {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg {
  padding: 0px 25px 20px 25px;
}

.stop {
  content: "Stop";
}
