<script id='layout' type='text/x-handlebars-template'>
  <div id="sidebar" class='ui left fixed green vertical inverted menu'>
      <div class="header item">
        <br>
        <h1 id="brand"> Lance-a-lot </h1>
        <span class="tagline">A freelancer's companion</span>
      </div>
      <br>
     <a href='/jobslist' class='active item'>View Jobs</a>
      <a href='/addjob' class='item'>Add Job</a>
      <a href='/clientslist' class='item'>View Clients</a>
      <a href='/addclient' class='item'>Add Client</a>
      <a href='/productivity' class='item'>Productivity</a>
      <a href='/logout' class='item'>Logout</a>
  </div>
  <div id='container'>
  </div>
</script>

<script id='home' type='text/x-handlebars-template'>
    <input class="ui input" id="clientSearch" type="text" placeholder="filter by client..."/>
</script>

<script id='tableheads' type='text/x-handlebars-template'>
    <thead>
      <th>Client</th>
      <th>Description</th>
      <th>Rate</th>
      <th>Start</th>
      <th>End</th>
      <th>Start/Stop</th>
      <th>Current Timer</th>
      <th>Total Labor Time</h>
      <th>Status</th>
    </thead>
</script>

<script id='clienttable' type='text/x-handlebars-template'>
  <thead>
    <th class="clientCells">Name</th>
    <th class="clientCells">Address</th>
    <th class="clientCells">Phone</th>
  </thead>
</script>


<script id='job' type='text/x-handlebars-template'>
    <td>{{client.name}}</td>
    <td>{{description}}</td>
    <td>${{rate}}</td>
    <td>{{formattedStart}}</td>
    <td>{{formattedEnd}}</td>
    <td><form method='post' class="timer"><input type="submit" value="Start" class="start"></form></td>
    <td class='timer'>{{currentTimer}}</td>
    <td class='totalTime'>{{displayTotal}}</td>
    <td><input type="checkbox" {{checked}}></td>
</script>

<script id='add' type='text/x-handlebars-template'>
  <form class="ui form" id="addJob">
  <div class="field">
    <label>Client:</label>
      <select class="ui dropdown" id="client">
        {{#each clients }}
          <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/each}}
      </select>
      <a href="/addclient" id="no_client">Don't see your client? Create a new client here.</a>
    </div>
      <div class="field">
      <label>Description:</label>
        <input class="ui input" id="description" type="text"/>
      </div>
      <div class="field">
      <label>Rate: $</label>
        <input class="ui input" id="rate" type="text"/>
      </div>
      <div class="field">
      <label>Start:</label>
        <input class="ui input" id="start" type="date"/>
      </div>
      <div class="field">
      <label>End:</label>
        <input class="ui input" id="end" type="date"/>
      </div>
      <button class="ui large submit button">Add Job</button>
  </form>

  <scr{{!}}ipt>
  $('.ui.form')
    .form({
      fields: {
        description: {
          rules: [{
            type: 'empty',
            prompt: 'Please enter a job description'
          }]
        },
        rate: {
          rules: [{
            type: 'empty',
            prompt: 'Please enter your compensation rate'
          },
          {
            type: 'number',
            prompt: 'Please enter a valid number'
          }]
        },
        start: {
          rules: [{
            type: 'empty',
            prompt: 'Please enter a start date'
          }]
        },
        end: {
          rules: [{
            type: 'empty',
            prompt: 'Please enter an end date'
          }]
        }
      },
      inline: true,
      keyboardShortcuts: true
    })
  </scr{{!}}ipt>
</script>

<script id='addClient' type='text/x-handlebars-template'>
  <form class="ui form" id="addClient">
    <div class="field">
    <label>Name:</label>
      <input class="ui input" id="name" type="text"/>
    </div>
      <br/>
    <div class="field">
    <label>Address:</label>
      <input class="ui input" id="address" type="text"/>
    </div>
      <br/>
    <div class="field">
    <label>Phone:</label>
      <input class="ui input" id="phone" type="text"/>
    </div>
      <br/>
    <button class="ui button">Add Client</button>
    <div class="inline field"></div>
  </form>

  <scr{{!}}ipt>
  $('.ui.form')
    .form({
      fields: {
        name: {
          rules: [{
            type: 'empty',
            prompt: 'Please enter a client name'
          }]
        },
        address: {
          rules: [{
            type: 'empty',
            prompt: 'Please enter client\'s address'
          }]
        },
        phone: {
          rules: [{
            type: 'empty',
            prompt: 'Please enter a valid phone number'
          }]
        }
      },
      inline: true,
      keyboardShortcuts: true
    })
  </scr{{!}}ipt>
</script>

<script id='clientInfo' type='text/x-handlebars-template'>
    <td class="clientCells">{{name}}</td>
    <td class="clientCells">{{address}}</td>
    <td class="clientCells">{{phone}}</td>
</script>

<script>
  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });


</script>
