<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lance-a-lot</title>
    <link rel="stylesheet" href="lib/semantic/dist/semantic.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- dependencies -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/backbone/backbone.js"></script>
    <script src="lib/handlebars/handlebars.js"></script>
    <script src="lib/d3/d3.js"></script>
    <script src="lib/semantic/dist/semantic.js"></script>
  </head>

  <body>
      <div id="signup" class="ui two column middle aligned piled segment grid">
        <div class="column">
        <form class="ui form" action="/signup" method="post">
            <div class="field">
              <label for="email">Email:</label>
              <input class="ui medium input" id="email" type="text" name="email">
            </div>
            <div class="field">
              <br>
              <label for="password">Password:</label>
              <input class="ui medium input" id="password" type="password" name="password">
            </div>
            <div>
              <br>
              <input class="ui fluid large green submit button" type="submit" value="Signup">
            </div>
            <div class="inline field"></div>
        </form>
        </div>
        <div class="ui vertical divider">WHY?</div>
        <div class="center aligned column">
          <p class="ui large green header branding">
            Lance-a-lot to the rescue!
          </p>
          <ul>
            <li>
              <i class="users icon"></i>
              Track client information
            </li>
            <li>
              <i class="file text outline icon"></i>
              Track job details
            </li>
            <li>
              <i class="line chart icon"></i>
              Track times and productivity
            </li>
          </ul>
          <p>Don't take our word for it, try it yourself!</p>
          <br>
        <p class="ui blue button">
          <a href="/login">Login to your account &rarr;</a>
        <p>
          </div>
      </div>

    <script>
    //Form Validation
    $('.ui.form')
      .form({
        fields: {
          email: {
            rules: [{
              type: 'email',
              prompt: 'Please enter a valid email address'
            }]
          },
          password: {
            rules: [{
                type   : 'empty',
                prompt : 'Please enter a password'
              },
              {
                type   : 'minLength[6]',
                prompt : 'Your password must be at least {ruleValue} characters'
              }]
          }
        },
        inline: true,
        keyboardShortcuts: true
      });
    </script>
  </body>
</html>
