<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lance-a-lot</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/semantic/dist/semantic.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- dependencies -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/backbone/backbone.js"></script>
    <script src="lib/handlebars/handlebars.js"></script>
    <script src="lib/d3/d3.js"></script>
    <script src="lib/semantic/dist/semantic.js"></script>
  </head>

  <body>
    <div id="container">
      <div class="container">
        <form class="ui form" action="/signup" method="post">
            <div class="field">
              <label for="email">Email:</label>
              <input class="ui input" id="email" type="text" name="email">
            </div>
            <div class="field">
              <br>
              <label for="password">Password:</label>
              <input class="ui input" id="password" type="password" name="password">
            </div>
            <div>
              <br>
              <input class="ui large button" type="submit" value="Signup">
            </div>
            <div class="ui error message"></div>
        </form>

        <p>
          <a href="/login">Login to your account &rarr;</a>
        <p>
      </div>

    </div>
    <script>
    //Form Validation
    $('.ui.form')
      .form({
        fields: {
          email: {
            rules: [{
              type: 'email',
              prompt: 'Please enter a valid email address'
            }]
          },
          password: {
            rules: [{
                type   : 'empty',
                prompt : 'Please enter a password'
              },
              {
                type   : 'minLength[6]',
                prompt : 'Your password must be at least {ruleValue} characters'
              }]
          }
        }
      });
    </script>
  </body>
</html>
